<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/scenarios"
        icon="chevron-back-outline"
        text="{{ 'ADDSCENARIO.return' | translate }}"
        (click)="restartIdScenario()">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="header-content">
    <ion-img src="assets/icon/scenario.svg" class="header-icon"></ion-img>
    <div class="header-title">{{ 'ADDSCENARIO.title' | translate }}</div>
  </div>
<div class="progress-bar-container">
    <app-progress-bar></app-progress-bar>
  </div>
</ion-header>

<ion-content class="custom-background">
  <form [formGroup]="scanearioForm" (ngSubmit)="onSubmit()" class="form-wrapper">

    <ion-card class="form-card">
      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDSCENARIO.name' | translate }}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="error" *ngIf="scanearioForm.controls['name']?.errors && scanearioForm.controls['name']?.touched">
        To add Scenario please fill out this field
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDSCENARIO.description' | translate }}</ion-label>
        <ion-input type="text" formControlName="description"></ion-input>
      </ion-item>
      <div class="error" *ngIf="scanearioForm.controls['description']?.errors && scanearioForm.controls['description']?.touched">
        To add Scenario please fill out this field
      </div>
    </ion-card>

    <ion-button expand="block" class="save" type="submit" [disabled]="!scanearioForm.valid || scenarioAddDone">
      {{ 'ADDSCENARIO.done' | translate }}
    </ion-button>

    <ion-button expand="block" class="continue" [disabled]="!scenarioAddDone" [routerLink]="['add-patient']">
      1/6 {{ 'ADDSCENARIO.patientButton' | translate }}
    </ion-button>
  </form>
</ion-content>
