<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'RELATEDPERSON.return' | translate }}" defaultHref="tabs/tab1/relatedPerson" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Centered Image Section -->
  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col size="4">
      <ion-card color="transparent" class="deviceTemplate-card">
        <ion-img src="assets/icon/familyW.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>

  <!-- Name Section -->
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10" class="ion-align-self-center">
      <ion-list-header>
        <ion-label class="text-top">{{ relPersonData.name }}</ion-label>
      </ion-list-header>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <!-- Description Section -->
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10" class="ion-align-self-center">
      <ion-list-header>
        <ion-label class="text-top"><h4>{{ relPersonData.description }}</h4></ion-label>
      </ion-list-header>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <!-- Info Card with all the details inside a single card -->
  <ion-card *ngIf="load">
    <ion-list>
      <!-- Surnames Section -->
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>{{ 'RELATEDPERSON.surnames' | translate }}</ion-label>
        <ion-label>{{ relPersonData.surnames }}</ion-label>
      </ion-item>

      <!-- Email Section -->
      <ion-item>
        <ion-icon name="at-outline" slot="start"></ion-icon>
        <ion-label>{{ 'RELATEDPERSON.email' | translate }}</ion-label>
        <ion-label>{{ relPersonEmail }}</ion-label>
      </ion-item>

      <!-- Active Status Section -->
      <ion-item>
        <ion-icon name="power-outline" slot="start"></ion-icon>
        <ion-label>{{ 'RELATEDPERSON.activeStatus' | translate }}</ion-label>
        <ion-label *ngIf="relPersonData.isActive === true">{{ 'RELATEDPERSON.activated' | translate }}</ion-label>
        <ion-label *ngIf="relPersonData.isActive === false">{{ 'RELATEDPERSON.deactivated' | translate }}</ion-label>
      </ion-item>

      <!-- Diseased Section -->
      <ion-item>
        <ion-icon name="heart-half-outline" slot="start"></ion-icon>
        <ion-label>{{ 'RELATEDPERSON.isDiseased' | translate }}</ion-label>
        <ion-label *ngIf="relPersonData.isDiseased === true">{{ 'RELATEDPERSON.yes' | translate }}</ion-label>
        <ion-label *ngIf="relPersonData.isDiseased === false">{{ 'RELATEDPERSON.no' | translate }}</ion-label>
      </ion-item>

      <!-- Gender Section -->
      <ion-item>
        <ion-icon name="male-female-outline" slot="start"></ion-icon>
        <ion-label>{{ 'RELATEDPERSON.gender' | translate }}</ion-label>
        <ion-label *ngIf="relPersonData.type === 1">{{ 'RELATEDPERSON.male' | translate }}</ion-label>
        <ion-label *ngIf="relPersonData.type === 2">{{ 'RELATEDPERSON.female' | translate }}</ion-label>
        <ion-label *ngIf="relPersonData.type === 3">{{ 'RELATEDPERSON.other' | translate }}</ion-label>
        <ion-label *ngIf="relPersonData.type === 4">{{ 'RELATEDPERSON.unknown' | translate }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
