<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'CAREACTIVITIES.return' | translate }}" defaultHref="/tabs/tab2" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToInicio()">
        {{ 'CAREACTIVITIES.skip' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="header-content">
    <ion-img src="assets/icon/careActivity.png" class="header-icon"></ion-img>
    <div class="header-title">{{ 'CAREACTIVITIES.title' | translate }}</div>
  </div>

  <div class="progress-bar-container">
    <app-progress-bar></app-progress-bar>
  </div>
</ion-header>

<ion-content class="custom-background">
  <ion-list>
    <div class="carePlan" *ngFor="let careActivity of careActivities">
      <!-- Medication Activity -->
      <div *ngIf="(careActivity.typeActivity === 1 && listFilter === '1') || (careActivity.typeActivity === 1 && listFilter === 'all')">
        <ion-item class="item">
          <ion-button fill="outline" slot="end" (click)="addMedication(careActivity['id'], careActivity.medicationsCare['productReference'])">{{ 'CAREACTIVITIES.addButton' | translate }}</ion-button>
          <ion-avatar slot="start">
            <img src="assets/icon/medication.png">
          </ion-avatar>
          <ion-label text-wrap>
            <h5>{{ 'CAREACTIVITIES.medication' | translate }}</h5>
            <h4>{{ careActivity['name'] }}</h4>
          </ion-label>
        </ion-item>
      </div>

      <!-- Nutrition Activity -->
      <div *ngIf="(careActivity.typeActivity === 2 && listFilter === '2') || (careActivity.typeActivity === 2 && listFilter === 'all')">
        <ion-item class="item">
          <ion-button fill="outline" slot="end" (click)="addNutrition(careActivity['id'], careActivity.nutritionOrders['id'])">{{ 'CAREACTIVITIES.addButton' | translate }}</ion-button>
          <ion-avatar slot="start">
            <img src="assets/icon/nutrition.png">
          </ion-avatar>
          <ion-label text-wrap>
            <h5>{{ 'CAREACTIVITIES.nutrition' | translate }}</h5>
            <h4>{{ careActivity['name'] }}</h4>
          </ion-label>
        </ion-item>
      </div>

      <!-- Communication Activity -->
      <div *ngIf="(careActivity.typeActivity === 3 && listFilter === '3') || (careActivity.typeActivity === 3 && listFilter === 'all')">
        <ion-item class="item">
          <ion-button fill="outline" slot="end" (click)="addCommunication(careActivity['id'], 753678)">{{ 'CAREACTIVITIES.addButton' | translate }}</ion-button>
          <ion-avatar slot="start">
            <img src="assets/icon/communication.png">
          </ion-avatar>
          <ion-label text-wrap>
            <h5>{{ 'CAREACTIVITIES.communication' | translate }}</h5>
            <h4>{{ careActivity['name'] }}</h4>
          </ion-label>
        </ion-item>
      </div>

      <!-- Appointment Activity -->
      <div *ngIf="(careActivity.typeActivity === 4 && listFilter === '4') || (careActivity.typeActivity === 4 && listFilter === 'all')">
        <ion-item class="item">
          <ion-button fill="outline" slot="end" (click)="addAppointment(careActivity['id'], careActivity.appointments['id'])">{{ 'CAREACTIVITIES.addButton' | translate }}</ion-button>
          <ion-avatar slot="start">
            <img src="assets/icon/appointment.png">
          </ion-avatar>
          <ion-label text-wrap>
            <h5>{{ 'CAREACTIVITIES.appointment' | translate }}</h5>
            <h4>{{ careActivity['name'] }}</h4>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </ion-list>

  <ion-button expand="block" class="save" size="small" fill="solid" color="success" (click)="goToInicio()">
    6/6 {{ 'CAREACTIVITIES.finish' | translate }}
  </ion-button>
</ion-content>
