<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'VITALSIGN.return' | translate }}" defaultHref="tabs/tab2/vitalSign" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Header Icon and Info -->
  <div class="patient-header">
    <ion-img src="assets/icon/vitalSignsW.png" class="patient-icon"></ion-img>
    <div class="patient-info">
      <h2>{{ vitalSignName }}</h2>
      <p>{{ vitalSignDescrip }}</p>
    </div>
  </div>

  <!-- Vital Sign Details Card -->
  <div class="segment">
    <ion-card class="animate__animated animate__slideInUp animate__slow">
      <ion-list>
        <ion-item *ngFor="let attr of attriubute" lines="full">
          <ion-icon slot="start" class="segmentIcon" [name]="getIcon(attr.name || '')"></ion-icon>
          <ion-label>
            <h3>{{ attr.name }}</h3>
            <p>{{ attr.valueAttr }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

</ion-content>
