<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/tab1"
        icon="chevron-back-outline"
        text="{{ 'ADDPATIENT.return' | translate }}">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToInicio()">
        {{ 'ADDPATIENT.skip' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="header-content">
    <ion-img src="assets/icon/patiW.png" class="header-icon"></ion-img>
    <div class="header-title">{{ 'ADDPATIENT.title' | translate }}</div>
  </div>

  
    <app-progress-bar></app-progress-bar>
  
</ion-header>

<ion-content class="custom-background">
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()" class="form-wrapper">

    <ion-card class="form-card">
      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDPATIENT.email' | translate }}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div class="error" *ngIf="patientForm.controls['email']?.errors && patientForm.controls['email']?.touched">
        {{ 'ADDPATIENT.pleaseFillOutThisField' | translate }}
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDPATIENT.password' | translate }}</ion-label>
        <ion-input type="password" formControlName="pass"></ion-input>
      </ion-item>
      <div class="error" *ngIf="patientForm.controls['pass']?.errors && patientForm.controls['pass']?.touched">
        {{ 'ADDPATIENT.pleaseFillOutThisField' | translate }}
      </div>

   <ion-item class="select-item" lines="none">
  <ion-label position="stacked">{{ 'ADDPATIENT.existingUserWhoHasBeenAPatient' | translate }}</ion-label>
  <ion-select
  formControlName="userPatient_oid"
  placeholder="{{ 'ADDPATIENT.selectExistingUser' | translate }}">
  <ion-select-option *ngFor="let user of findNotAlreadyPatient" [value]="user['id']">
    {{ user['name'] }} {{ user['surnames'] }}
  </ion-select-option>
</ion-select>
</ion-item>



      <div class="error" *ngIf="patientForm.controls['userPatient_oid']?.errors && patientForm.controls['userPatient_oid']?.touched">
        {{ 'ADDPATIENT.pleaseFillOutThisField' | translate }}
      </div>

      <ion-item lines="none" [routerLink]="['add-user']">
        <ion-button shape="round" fill="outline">
          <ion-icon name="add"></ion-icon>
          {{ 'ADDPATIENT.newUserData' | translate }}
        </ion-button>
      </ion-item>
    </ion-card>

    <ion-button expand="block" class="save" type="submit" [disabled]="!patientForm.valid || patientAddDone">
      {{ 'ADDPATIENT.done' | translate }}
    </ion-button>
  </form>

  <form [formGroup]="patientProfileForm" (ngSubmit)="AssignPatientProfile()" [hidden]="!patientAddDone"
        class="form-wrapper animate__animated animate__slideInDown animate__fast">
    <ion-card class="form-card">
      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDPATIENT.patientProfile' | translate }}</ion-label>
        <ion-select formControlName="p_patientprofile_oid">
          <ion-select-option *ngFor="let profile of allPatientProfile" [value]="profile['id']">
            {{ profile['name'] }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error" *ngIf="patientProfileForm.controls['p_patientprofile_oid']?.errors && patientProfileForm.controls['p_patientprofile_oid']?.touched">
        {{ 'ADDPATIENT.pleaseFillOutThisField' | translate }}
      </div>
    </ion-card>

    <ion-button expand="block" class="save" type="submit" [disabled]="!patientProfileForm.valid || patientProfileAddDone">
      {{ 'ADDPATIENT.done' | translate }}
    </ion-button>
  </form>

  <ion-button expand="block" class="continue" type="submit" [disabled]="!patientProfileAddDone" [routerLink]="['add-patient-access']">
    2/6 {{ 'ADDPATIENT.accessModeButton' | translate }}
  </ion-button>
</ion-content>
