ion-content {
  --background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), 
                 url('/assets/icon/backW.jpg') 0 0/100% 100% no-repeat;
  border-radius: 20px;
  padding: 12px;
}

ion-toolbar {
  --background: rgb(167, 195, 236) !important;
}

ion-header {
  background-color: rgb(167, 195, 236);
}

ion-card {
  box-shadow: none !important;
  background: transparent;
}

.text-top {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -8px;
}

.ion-align-self-center {
  margin-top: -10px;
}

ion-list-header {
  margin-bottom: -4px;
}

ion-item {
  --background: transparent;
  --highlight-color-focused: #6ea24f;
}

ion-input {
  border: none;
  background-color: transparent;
}

.error {
  color: red;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 4px;
}

/* DATETIME SECTION */
.datetime-container {
  margin: 0 8px;
}

ion-datetime.custom-datetime {
  --background: transparent;
  --wheel-highlight-background: rgba(207, 218, 182, 0.5);
  --wheel-fade-background-rgb: 255, 255, 255;
  --border-color: transparent;
  --color: #333;
  margin-top: 10px;

  .datetime-presentation-date {
    border-radius: 12px;
    box-shadow: none;
  }

  .datetime-title,
  .button-clear,
  .button-solid {
    display: none !important;
  }
}

/* Button styling */
ion-button.save {
  margin-top: 20px;
  --background: #6ea24f;
  --border-radius: 12px;
  font-weight: 500;
}
