<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'ADDACCESSMODE.return' | translate }}" defaultHref="/tabs/tab1/patientAccess" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToInicio()">
        {{ 'ADDACCESSMODE.skip' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="header-content">
    <ion-img src="assets/icon/accessW.png" class="header-icon"></ion-img>
    <div class="header-title">{{ 'ADDACCESSMODE.title' | translate }}</div>
  </div>

  <div class="progress-bar-container">
    <app-progress-bar></app-progress-bar>
  </div>
</ion-header>

<ion-content class="custom-background">
  <form [formGroup]="patientAccessForm" (ngSubmit)="onSubmit()" class="form-wrapper">
    <ion-card class="form-card">
      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDACCESSMODE.name' | translate }}</ion-label>
        <ion-input type="text" formControlName="name" class="form-control"></ion-input>
      </ion-item>
      <div class="error" *ngIf="patientAccessForm.controls['name']?.errors && patientAccessForm.controls['name']?.touched">
        {{ 'ADDACCESSMODE.pleaseFillOutThisField' | translate }}
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDACCESSMODE.description' | translate }}</ion-label>
        <ion-input type="text" formControlName="description" class="form-control"></ion-input>
      </ion-item>
      <div class="error" *ngIf="patientAccessForm.controls['description']?.errors && patientAccessForm.controls['description']?.touched">
        {{ 'ADDACCESSMODE.pleaseFillOutThisField' | translate }}
      </div>
    </ion-card>

    <ion-button expand="block" class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!patientAccessForm.valid || accessModeAddDone">
      {{ 'ADDACCESSMODE.done' | translate }}
    </ion-button>
  </form>

  <form [formGroup]="patientAccessProfileForm" (ngSubmit)="assignAccessMode()" [hidden]="!accessModeAddDone" class="form-wrapper animate__animated animate__slideInDown animate__fast">
    <ion-card class="form-card">
      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDACCESSMODE.profileAccess' | translate }}</ion-label>
        <ion-select multiple="false" okText="Okay" cancelText="Dismiss" formControlName="idPatientProfile">
          <ion-select-option *ngFor="let accessMode of allAccessMode" [value]="accessMode['id']">
            {{ accessMode['name'] }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error" *ngIf="patientAccessProfileForm.controls['idPatientProfile']?.errors && patientAccessProfileForm.controls['idPatientProfile']?.touched">
        {{ 'ADDACCESSMODE.pleaseFillOutThisField' | translate }}
      </div>
    </ion-card>

    <ion-button expand="block" class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!patientAccessProfileForm.valid || accessModeProfileAddDone">
      {{ 'ADDACCESSMODE.done' | translate }}
    </ion-button>
  </form>

  <ion-button expand="block" class="continue" size="small" fill="solid" type="submit" color="success" [hidden]="idPassedByURL === 'noWizard'" [disabled]="!accessModeProfileAddDone" [routerLink]="['add-device']">
    3/6 {{ 'ADDACCESSMODE.deviceButton' | translate }}
  </ion-button>
</ion-content>
