<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="{{ 'PRACTITIONERSLIST.return' | translate }}"
        defaultHref="/tabs/tab1"
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon
        size="large"
        class="ionadd"
        name="add-outline"
        slot="end"
        [routerLink]="['add-practitioner']"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <!-- Centered header icon -->
  <ion-row class="header-row">
    <ion-col size="12" class="header-icon">
      <ion-img class="toolbar-icon-img" src="assets/icon/practitioner.png"></ion-img>
    </ion-col>
  </ion-row>

  <!-- Title row -->
  <ion-row class="title-row">
    <ion-col size="12" class="ion-align-self-center">
      <ion-list-header>
        <ion-label class="text-top">{{ 'PRACTITIONERSLIST.title' | translate }}</ion-label>
      </ion-list-header>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <!-- Alert: No practitioner -->
  <ion-card-header
    *ngIf="practitionerNull"
    color="warning"
    class="warning-card animate__animated animate__fadeInLeft animate__slow"
  >
    <ion-icon size="large" name="warning-outline"></ion-icon>
    {{ 'PRACTITIONERSLIST.alertNoPractitioner' | translate }}
  </ion-card-header>

  <!-- Practitioners List -->
  <ion-card class="soft-card" *ngFor="let practitioner of practitioners">
    <ion-item [routerLink]="['detail-practitioner', practitioner['id']]">
      <ion-avatar slot="start">
        <img src="assets/icon/practitioner.png" />
      </ion-avatar>
      <ion-label>
        <h3>{{ practitioner['name'] }}</h3>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
