<form id="loginform" [formGroup]="loginForm">
  <div class="container-login">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>MoSIoT</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-icon name="person" class="icon-login"></ion-icon>
              <ion-input
                formControlName="email"
                name="user"
                type="email"
                required
                placeholder="Email"
              ></ion-input>
            </ion-item>
            <br />
            <ion-item>
              <ion-icon name="lock-closed" class="icon-login"></ion-icon>
              <ion-input
                formControlName="pass"
                name="password"
                type="password"
                required
                placeholder="Password"
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row class="text-justify">
        <ion-col>
          <p class="text-danger" *ngIf="formSubmit && !campoValido('email')">
            The user field is required
          </p>
          <p class="text-danger" *ngIf="formSubmit && !campoValido('pass')">
            The password field is required
          </p>
        </ion-col>
      </ion-row>

      <!-- Center the login button in the column -->
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="login()" type="submit" [disabled]="waiting">
            <ion-spinner *ngIf="waiting" name="dots" color="light"></ion-spinner>
            <span *ngIf="!waiting">Login</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</form>
