<ion-header>
  <ion-toolbar>

    <!-- Back button -->
    <ion-buttons slot="start">
      <ion-back-button
        text="{{ 'DEVICETAB.return' | translate }}"
        defaultHref="/scenarios"
        icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>

    <!-- Centered Icon -->
    <div class="header-icon" style="margin: 0 auto;">
      <ion-img src="assets/icon/device.png" class="toolbar-icon-img"></ion-img>
    </div>

    <!-- Title -->
    <div class="section-title">
      {{ 'DEVICETAB.title' | translate }}
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section id="dashboardSection">
    <ion-grid>

      <!-- First Row -->
      <ion-row class="animate__animated animate__fadeInUp animate__slow">

        <ion-col size="6" class="ion-align-self-center" [routerLink]="['device']">
          <ion-card color="transparent" class="disability-card">
            <ion-img src="assets/icon/devices.png"></ion-img>
            <ion-label>{{ 'DEVICETAB.devices' | translate }}</ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="6" class="ion-align-self-end" [routerLink]="['telemetry']">
          <ion-card color="transparent" class="deviceTemplate-card">
            <ion-img src="assets/icon/telemetries.png"></ion-img>
            <ion-label>{{ 'DEVICETAB.telemetries' | translate }}</ion-label>
          </ion-card>
        </ion-col>

      </ion-row>

    </ion-grid>
  </section>
</ion-content>
