<ion-segment value="all" color="tertiary" class="animate__animated animate__slideInUp animate__fast" scrollable="true" mode="md" [(ngModel)]="segmentModel" lines="none">
    <ion-segment-button value="AdaptationRequest">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>{{ 'PATIENTACCESSDETAIL.adaptationRequest' | translate }} </ion-label>
    </ion-segment-button>
    <ion-segment-button value="AdaptationType">
        <ion-icon name="star-half-outline"></ion-icon>
        <ion-label>{{ 'PATIENTACCESSDETAIL.adaptationType' | translate }} </ion-label>
    </ion-segment-button>
    <ion-segment-button value="AdaptationDetail">
        <ion-icon name="telescope-outline"></ion-icon>
        <ion-label>{{ 'PATIENTACCESSDETAIL.adaptationDetail' | translate }} </ion-label>
    </ion-segment-button>
</ion-segment>
<div *ngIf="segmentModel === 'AdaptationRequest'">
    <div class="container" *ngFor="let entry of adaptationRequests | keyvalue">
        <div *ngIf="entry.value as ar">
        <mat-expansion-panel details>
            <mat-expansion-panel-header slot="start">
                <mat-panel-title>
                    <ion-item>
                        <ion-icon class="segmentIcon" name="list-circle-outline"></ion-icon>
                        <ion-label>{{  $any(ar).description }}</ion-label>
                    </ion-item>
                </mat-panel-title>

            </mat-expansion-panel-header>

            <ion-item-sliding>
                <ion-item-options side="start">
                    <ion-item-option color="danger" (click)="null" expandable>
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>

            <ion-card>
                <ion-item>

                    <ion-label>{{ 'PATIENTACCESSDETAIL.accessModeTarget' | translate }}</ion-label>

                    <ion-badge *ngIf="$any(ar).accessModeTarget === 1"> {{ 'PATIENTACCESSDETAIL.auditory' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(ar).accessModeTarget === 2"> {{ 'PATIENTACCESSDETAIL.colour' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(ar).accessModeTarget === 3"> {{ 'PATIENTACCESSDETAIL.itemSize' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(ar).accessModeTarget === 4"> {{ 'PATIENTACCESSDETAIL.olfactory' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(ar).accessModeTarget === 5"> {{ 'PATIENTACCESSDETAIL.orientation' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(ar).accessModeTarget === 6"> {{ 'PATIENTACCESSDETAIL.position' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(ar).accessModeTarget === 7"> {{ 'PATIENTACCESSDETAIL.tactile' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(ar).accessModeTarget === 8"> {{ 'PATIENTACCESSDETAIL.textOnImage' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(ar).accessModeTarget === 9"> {{ 'PATIENTACCESSDETAIL.textual' | translate }} </ion-badge>
                    <ion-badge *ngIf="$any(ar).accessModeTarget === 10"> {{ 'PATIENTACCESSDETAIL.visual' | translate }}</ion-badge>

                </ion-item>
                <ion-item>

                    <ion-label>{{ 'PATIENTACCESSDETAIL.languageOfAdaptation' | translate }}</ion-label>

                    <ion-badge *ngIf="$any(ar).languageOfAdaptation === 1">ES</ion-badge>
                    <ion-badge *ngIf="$any(ar).languageOfAdaptation === 2">EN</ion-badge>
                    <ion-badge *ngIf="$any(ar).languageOfAdaptation === 3">FR</ion-badge>
                    <ion-badge *ngIf="$any(ar).languageOfAdaptation === 4">IT</ion-badge>
                    <ion-badge *ngIf="$any(ar).languageOfAdaptation === 5">PR</ion-badge>
                    <ion-badge *ngIf="$any(ar).languageOfAdaptation === 6">DE</ion-badge>
                    <ion-badge *ngIf="$any(ar).languageOfAdaptation === 7">JA</ion-badge>
                    <ion-badge *ngIf="$any(ar).languageOfAdaptation === 8">KO</ion-badge>
                    <ion-badge *ngIf="$any(ar).languageOfAdaptation === 9">ZH</ion-badge>


                </ion-item>

            </ion-card>

        </mat-expansion-panel>


</div>
    </div>
</div>
<div *ngIf="segmentModel === 'AdaptationType'">
    <div class="container" *ngFor="let adaptationType of adaptationTypes|keyvalue">
        <mat-expansion-panel details>
            <mat-expansion-panel-header slot="start">
                <mat-panel-title>
                    <ion-item>
                        <ion-icon class="segmentIcon" name="list-circle-outline"></ion-icon>
                        
                        <ion-label>{{ $any(adaptationType.value).description }}</ion-label>
                    </ion-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-item-sliding>
                <ion-item-options side="start">
                    <ion-item-option color="danger" (click)="null" expandable>
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
            <ion-card>
                <ion-item>
                    <ion-label>{{ 'PATIENTACCESSDETAIL.adaptationRequest' | translate }}</ion-label>
                    <ion-badge *ngIf="$any(adaptationType.value).adaptionRequest === 1"> {{ 'PATIENTACCESSDETAIL.alternativeText' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(adaptationType.value).adaptionRequest === 2"> {{ 'PATIENTACCESSDETAIL.audioDescription' | translate }} </ion-badge>
                    <ion-badge *ngIf="$any(adaptationType.value).adaptionRequest === 3"> {{ 'PATIENTACCESSDETAIL.captions' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(adaptationType.value).adaptionRequest === 4">{{ 'PATIENTACCESSDETAIL.E_book' | translate }} </ion-badge>
                    <ion-badge *ngIf="$any(adaptationType.value).adaptionRequest === 5"> {{ 'PATIENTACCESSDETAIL.haptic' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(adaptationType.value).adaptionRequest === 6"> {{ 'PATIENTACCESSDETAIL.highContrast' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(adaptationType.value).adaptionRequest === 7"> {{ 'PATIENTACCESSDETAIL.longDescription' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(adaptationType.value).adaptionRequest === 8"> {{ 'PATIENTACCESSDETAIL.signLanguage' | translate }} </ion-badge>
                    <ion-badge *ngIf="$any(adaptationType.value).adaptionRequest === 9"> {{ 'PATIENTACCESSDETAIL.transcript' | translate }}</ion-badge>
                </ion-item>
            </ion-card>
        </mat-expansion-panel>
    </div>
</div>
<div *ngIf="segmentModel === 'AdaptationDetail'">
    <div class="container" *ngFor="let adaptationDetail of adaptationDetails|keyvalue">
        <mat-expansion-panel details>
            <mat-expansion-panel-header slot="start">
                <mat-panel-title>
                    <ion-item>
                        <ion-icon class="segmentIcon" name="list-circle-outline"></ion-icon>
                        <ion-label>{{ $any(adaptationDetail.value).description }}</ion-label>
                    </ion-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-item-sliding>
                <ion-item-options side="start">
                    <ion-item-option color="danger" (click)="null" expandable>
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
            <ion-card>
                <ion-item>
                    <ion-label>{{ 'PATIENTACCESSDETAIL.adaptationRequest' | translate }}</ion-label>
                    <ion-badge *ngIf="$any(adaptationDetail.value).adaptationRequest === 1"> {{ 'PATIENTACCESSDETAIL.enhanced' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(adaptationDetail.value).adaptationRequest === 2"> {{ 'PATIENTACCESSDETAIL.realTime' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(adaptationDetail.value).adaptationRequest === 3"> {{ 'PATIENTACCESSDETAIL.record' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(adaptationDetail.value).adaptationRequest === 4"> {{ 'PATIENTACCESSDETAIL.symbolic' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(adaptationDetail.value).adaptationRequest === 5"> {{ 'PATIENTACCESSDETAIL.synthesized' | translate }}</ion-badge>
                    <ion-badge *ngIf="$any(adaptationDetail.value).adaptationRequest === 6"> {{ 'PATIENTACCESSDETAIL.verbatim' | translate }}</ion-badge>

                </ion-item>
            </ion-card>
        </mat-expansion-panel>
    </div>
</div>
