ion-toolbar {
  --background: rgba(207, 218, 182, 0.658);
}


.deviceTemplate-card {
  background: transparent;
  box-shadow: none;
  ion-img {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
  }
}

.text-top {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: -0.5rem;
  color: #1e1e1e;
}

.ionadd {
  padding-right: 15px;
  color: #1e1e1e;
}

/* List container */
.patient {
  padding: 0 10px;
}

/* Card item styling */
ion-item-sliding {
  margin-bottom: 10px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

ion-avatar img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
ion-avatar {
  width: 45px;
  height: 45px;
}


ion-card-title {
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 0 5px 10px;
  white-space: normal;
  color: #1e1e1e;
}



/* Inner card reset */
ion-item ion-card {
  background: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
