<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="{{ 'APPOINTMENTLIST.return' | translate }}"
        defaultHref="/tabs/tab2"
        icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon
        size="large"
        class="ionadd"
        name="add-outline"
        slot="end"
        [routerLink]="['add-appointment', '4']">
      </ion-icon>
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Centered Icon -->
  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col size="4">
      <ion-card color="transparent" class="deviceTemplate-card">
        <ion-img src="assets/icon/appointment.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>

  <!-- Page Title -->
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10" class="ion-align-self-center">
      <ion-list-header>
        <ion-label class="text-top">{{ 'APPOINTMENTLIST.title' | translate }}</ion-label>
      </ion-list-header>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <!-- Warning if no Appointments -->
  <ion-card *ngIf="appointmentNull" color="warning" class="animate__animated animate__fadeInLeft animate__slow">
    <ion-card-content>
      {{ 'APPOINTMENTLIST.alertNoAppointment' | translate }}
    </ion-card-content>
  </ion-card>

  <!-- Main Card with Appointment List -->
  <ion-card *ngIf="!appointmentNull">
    <ion-list>
      <div class="carePlan" *ngFor="let appointment of appointments">
        <ion-item-sliding #slidingItem>
          <ion-item class="item" detail [routerLink]="['detail-appointment', appointment['id']]">
            <ion-avatar slot="start">
              <img src="assets/icon/appointment.png" />
            </ion-avatar>
            <ion-label>{{ appointment['name'] }}</ion-label>
          </ion-item>

          <!-- Delete Option -->
          <ion-item-options side="end" (ionSwipe)="deleteAppointment(slidingItem, appointment['id']!, appointment['name']!)">
            <ion-item-option color="danger" expandable (click)="deleteAppointment(slidingItem, appointment['id']!, appointment['name']!)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <!-- Edit Option -->
          <ion-item-options side="start">
            <ion-item-option color="success" expandable (click)="closeSliding(slidingItem)" [routerLink]="['edit-carePlan', appointment['id']]">
              <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
  </ion-card>
</ion-content>
