ion-content {
  --background: linear-gradient(to bottom right, rgba(207, 218, 182, 0.658), rgba(255, 255, 255, 0.8)) !important;
  border-radius: 20px;
  padding-bottom: 20px;
}

ion-toolbar {
  --background: rgba(207, 218, 182, 0.658) !important;
}

ion-header {
  background-color: rgba(180, 199, 136, 0.658);
}

.segment-tabs {
  padding-top: 4px;
  padding-bottom: 4px;
}

ion-segment.segment-tabs {
  width: 100%;
  overflow-x: auto;
}

ion-segment-button {
  white-space: normal;
  --padding-start: 6px;
  --padding-end: 6px;
}

ion-label {
  white-space: normal;
  font-size: 14px;
}

.patient-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;

  .patient-icon {
    width: 90px;
    height: 90px;
    margin-bottom: 8px;
  }

  .patient-info {
    text-align: center;

    h2 {
      font-size: 20px;
      margin: 0;
    }

    p {
      font-size: 14px;
      margin: 0;
      color: #333;
    }
  }
}

.segmentIcon {
  font-size: 24px;
  color: #2a2a2a;
  margin-right: 10px;
}

ion-label h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

ion-label p {
  margin: 0;
  font-size: 14px;
  color: #444;
}

ion-card {
  border-radius: 20px;
  padding: 8px;
  margin: 12px;
  box-shadow: none !important;
  background: #ffffffcc;
}

ion-item {
  --inner-padding-end: 8px;
}

ion-badge {
  font-size: 13px;
  padding: 6px;
  white-space: normal;
  line-height: 1.4;
  text-align: left;
}

.panel-title-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.panel-title-text {
  font-size: 15px;
  font-weight: 500;
}
