<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/tab1"
        icon="chevron-back-outline"
        text="{{ 'ADDUSER.return' | translate }}">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" disabled></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="header-content">
    <ion-img src="assets/icon/add-user.png" class="header-icon"></ion-img>
    <div class="header-title">{{ 'ADDUSER.title' | translate }}</div>
  </div>
</ion-header>

<ion-content class="custom-background">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-wrapper">
    <ion-card class="form-card">

      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDUSER.name' | translate }}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="error" *ngIf="userForm.controls['name']?.errors && userForm.controls['name']?.touched">
        {{ 'ADDUSER.pleaseFillOutThisField' | translate }}
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDUSER.surnames' | translate }}</ion-label>
        <ion-input type="text" formControlName="surnames"></ion-input>
      </ion-item>
      <div class="error" *ngIf="userForm.controls['surnames']?.errors && userForm.controls['surnames']?.touched">
        {{ 'ADDUSER.pleaseFillOutThisField' | translate }}
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDUSER.description' | translate }}</ion-label>
        <ion-input type="text" formControlName="description"></ion-input>
      </ion-item>
      <div class="error" *ngIf="userForm.controls['description']?.errors && userForm.controls['description']?.touched">
        {{ 'ADDUSER.pleaseFillOutThisField' | translate }}
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDUSER.gender' | translate }}</ion-label>
        <ion-select formControlName="type" placeholder="{{ 'ADDUSER.selectGender' | translate }}">
          <ion-select-option value="1">{{ 'ADDUSER.male' | translate }}</ion-select-option>
          <ion-select-option value="2">{{ 'ADDUSER.female' | translate }}</ion-select-option>
          <ion-select-option value="3">{{ 'ADDUSER.other' | translate }}</ion-select-option>
          <ion-select-option value="4">{{ 'ADDUSER.unknown' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error" *ngIf="userForm.controls['type']?.errors && userForm.controls['type']?.touched">
        {{ 'ADDUSER.pleaseFillOutThisField' | translate }}
      </div>

      <ion-item lines="none">
        <ion-label>{{ 'ADDUSER.isDiseased' | translate }}</ion-label>
        <ion-toggle formControlName="isDiseased"></ion-toggle>
      </ion-item>

      <ion-item lines="none">
        <ion-label>{{ 'ADDUSER.isActive' | translate }}</ion-label>
        <ion-toggle formControlName="isActive"></ion-toggle>
      </ion-item>
    </ion-card>

    <ion-button expand="block" class="save" type="submit" [disabled]="!userForm.valid">
      {{ 'ADDUSER.done' | translate }}
    </ion-button>
  </form>
</ion-content>
