<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="{{ 'CAREPLAN.return' | translate }}"
        defaultHref="tabs/tab2/carePlan"
        icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="my-custom-page">

  <!-- Header Icon and Info -->
  <div class="patient-header">
    <ion-img src="assets/icon/carePlansW.png" class="patient-icon"></ion-img>
    <div class="patient-info">
      <h2>{{ carePlanName }}</h2>
      <p>{{ carePlanDescription }}</p>
    </div>
  </div>

  <!-- Segment Tabs (Moved Below Header) -->
  <ion-segment
    [(ngModel)]="segmentModel"
    color="tertiary"
    scrollable="true"
    mode="md"
    class="segment-tabs"
    lines="none"
    *ngIf="!carePlanDetailNull">
    <ion-segment-button value="details">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>{{ 'CAREPLAN.detail' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="goals">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>{{ 'CAREPLAN.goals' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="targets">
      <ion-icon name="locate-outline"></ion-icon>
      <ion-label>{{ 'CAREPLAN.targets' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Warning Message -->
  <ion-card-header
    *ngIf="carePlanDetailNull"
    color="warning"
    class="animate__animated animate__fadeInLeft animate__slow">
    <ion-icon size="large" name="warning-outline"></ion-icon>
    {{ 'CAREPLAN.alertNoCarePlanTemplate' | translate }}
  </ion-card-header>

  <!-- Segment: Care Plan Details -->
  <div *ngIf="!carePlanDetailNull && segmentModel === 'details'" class="segment">
    <ion-card class="animate__animated animate__slideInUp animate__slow">
      <ion-list>
        <ion-item *ngFor="let attr of attriubute" lines="full">
          <ion-icon slot="start" class="segmentIcon" [name]="getIcon(attr.name || '')"></ion-icon>
          <ion-label>
            <h3>{{ attr.name }}</h3>
            <p>{{ attr.valueAttr }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <!-- Segment: Goals -->
  <div class="segment" *ngIf="segmentModel === 'goals'">
    <div class="container" *ngFor="let goal of goals | keyvalue">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
        <div class="panel-title-container">
            <ion-icon class="segmentIcon" name="list-circle-outline"></ion-icon>
            <span class="panel-title-text">{{ $any(goal.value).name }}</span>
        </div>
        </mat-panel-title>

        </mat-expansion-panel-header>

        <ion-card>
          <ion-item>
            <ion-label>{{ 'CAREPLAN.descripcion' | translate }}</ion-label>
            <ion-badge>{{ $any(goal.value).description }}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'CAREPLAN.priority' | translate }}</ion-label>
            <ion-badge *ngIf="$any(goal).value.priority === 1">{{ 'CAREPLAN.high' | translate }}</ion-badge>
            <ion-badge *ngIf="$any(goal).value.priority === 2">{{ 'CAREPLAN.medium' | translate }}</ion-badge>
            <ion-badge *ngIf="$any(goal).value.priority === 3">{{ 'CAREPLAN.low' | translate }}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'CAREPLAN.status' | translate }}</ion-label>
            <ion-badge *ngIf="$any(goal).value.status === 1">{{ 'CAREPLAN.draft' | translate }}</ion-badge>
            <ion-badge *ngIf="$any(goal).value.status === 2">{{ 'CAREPLAN.active' | translate }}</ion-badge>
            <ion-badge *ngIf="$any(goal).value.status === 3">{{ 'CAREPLAN.onHold' | translate }}</ion-badge>
            <ion-badge *ngIf="$any(goal).value.status === 4">{{ 'CAREPLAN.revoked' | translate }}</ion-badge>
            <ion-badge *ngIf="$any(goal).value.status === 5">{{ 'CAREPLAN.completed' | translate }}</ion-badge>
            <ion-badge *ngIf="$any(goal).value.status === 6">{{ 'CAREPLAN.canceled' | translate }}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'CAREPLAN.category' | translate }}</ion-label>
            <ion-badge *ngIf="$any(goal).value.category === 1">{{ 'CAREPLAN.dietary' | translate }}</ion-badge>
            <ion-badge *ngIf="$any(goal).value.category === 2">{{ 'CAREPLAN.safety' | translate }}</ion-badge>
            <ion-badge *ngIf="$any(goal).value.category === 3">{{ 'CAREPLAN.behavioral' | translate }}</ion-badge>
            <ion-badge *ngIf="$any(goal).value.category === 4">{{ 'CAREPLAN.physiotherapy' | translate }}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'CAREPLAN.outcomeCode' | translate }}</ion-label>
            <ion-badge>{{ $any(goal.value).outcomeCode }}</ion-badge>
          </ion-item>
        </ion-card>
      </mat-expansion-panel>
    </div>
  </div>

  <!-- Segment: Targets -->
  <div class="segment" *ngIf="segmentModel === 'targets'">
    <div class="container" *ngFor="let target of targets | keyvalue">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
  <div class="panel-title-container">
    <ion-icon class="segmentIcon" name="list-circle-outline"></ion-icon>
    <span class="panel-title-text">{{ $any(target.value).description }}</span>
  </div>
</mat-panel-title>

        </mat-expansion-panel-header>

        <ion-card>
          <ion-item>
            <ion-label>{{ 'CAREPLAN.desiredValue' | translate }}</ion-label>
            <ion-badge>{{ $any(target.value).desiredValue }}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'CAREPLAN.dueDate' | translate }}</ion-label>
            <ion-badge>{{ $any(target.value).dueDate | date }}</ion-badge>
          </ion-item>
        </ion-card>
      </mat-expansion-panel>
    </div>
  </div>

</ion-content>
