<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'ADDCAREPLAN.return' | translate }}" defaultHref="/tabs/tab2/careplan" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToInicio()">
        {{ 'ADDCAREPLAN.skip' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="header-content">
    <ion-img src="assets/icon/carePlansW.png" class="header-icon"></ion-img>
    <div class="header-title">{{ 'ADDCAREPLAN.title' | translate }}</div>
  </div>

  <div class="progress-bar-container">
    <app-progress-bar></app-progress-bar>
  </div>
</ion-header>

<ion-content class="custom-background">
  <form [formGroup]="carePlanForm" (ngSubmit)="onSubmit()" class="form-wrapper">
    <ion-card class="form-card">
      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDCAREPLAN.name' | translate }}</ion-label>
        <ion-input type="text" formControlName="name" class="form-control"></ion-input>
      </ion-item>
      <div class="error" *ngIf="carePlanForm.controls['name']?.errors && carePlanForm.controls['name']?.touched">
        {{ 'ADDCAREPLAN.pleaseFillOutThisField' | translate }}
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">{{ 'ADDCAREPLAN.description' | translate }}</ion-label>
        <ion-input type="text" formControlName="description" class="form-control"></ion-input>
      </ion-item>
      <div class="error" *ngIf="carePlanForm.controls['description']?.errors && carePlanForm.controls['description']?.touched">
        {{ 'ADDCAREPLAN.pleaseFillOutThisField' | translate }}
      </div>
    </ion-card>

    <ion-button expand="block" class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!carePlanForm.valid || carePlanAddDone">
      {{ 'ADDCAREPLAN.done' | translate }}
    </ion-button>
  </form>

  <form [formGroup]="carePlantemplateForm" (ngSubmit)="assignCarePlanTemplate()" [hidden]="!carePlanAddDone" class="form-wrapper animate__animated animate__slideInDown animate__fast">
    <ion-card class="form-card">
      <ion-item lines="full">
        <ion-label position="stacked">{{ 'ADDCAREPLAN.carePlanTemplates' | translate }}</ion-label>
        <ion-select multiple="false" okText="Okay" cancelText="Dismiss" formControlName="idCarePlanTemplate">
          <ion-select-option *ngFor="let carePlan of carePlanTemplateList" [value]="carePlan['id']">
            {{ carePlan['name'] }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error" *ngIf="carePlantemplateForm.controls['idCarePlanTemplate']?.errors && carePlantemplateForm.controls['idCarePlanTemplate']?.touched">
        {{ 'ADDCAREPLAN.pleaseFillOutThisField' | translate }}
      </div>
    </ion-card>

    <ion-button expand="block" class="save" size="small" fill="solid" type="submit" color="primary" [disabled]="!carePlantemplateForm.valid || assignCarePlanTemplateDone">
      {{ 'ADDCAREPLAN.done' | translate }}
    </ion-button>
  </form>

  <ion-button expand="block" class="save" size="small" fill="solid" type="submit" color="success" [disabled]="!assignCarePlanTemplateDone" [routerLink]="['careActivity','all']">
    5/6 {{ 'ADDCAREPLAN.activitiesButton' | translate }}
  </ion-button>
</ion-content>
